<div>
    <div ng-if="!archived">
        <span>{{remaining()}} remaining</span>
        [ <a href="" ng-click="archive()">archive</a> | <a href="#/archive">view archived</a> ]
    </div>
    <ul class="unstyled">
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done">
            <span>{{todo.text}}</span>
        </li>
    </ul>

    <a href="#/new" ng-if="!archived">Add todo</a>
    <a href="#/" ng-if="archived">Back</a>
</div>