<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Основи на AngularJS</title>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.min.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/zenburn.css">

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <style>
        .reveal h1,
        .reveal h2,
        .reveal h3,
        .reveal h4,
        .reveal h5,
        .reveal h6 {
            text-transform: none;
        }
    </style>
</head>
<body>

<div class="reveal">
    <div class="slides">

        <section>
            <p>
                WHAT DO WE WANT?
            </p>
            <p>
                - now
            </p>
            <p>
                WHEN DO WE WANT IT?
            </p>
            <p>
                - race condition
            </p>
        </section>

        <section>
            <section>
                <h1>Основи на AngularJS</h1>
                <p>&nbsp;</p>
                <p>
                    Венелин Горнишки
                </p>
                <p>
                    <small><a href="mailto:venelin.gornishki@chaosgroup.com">venelin.gornishki@chaosgroup.com</a></small>
                </p>
                <p>
                    <small>12.04.2014</small>
                </p>
            </section>

            <section>
                <h2>Кой съм аз и за какво се боря?</h2>
            </section>
        </section>

        <section>
            <h2>Що е то AngularJS</h2>
        </section>

        <section>
            <h2>Основни понятия</h2>
            <ul>
                <li class="fragment roll-in"><em>module</em></li>
                <li class="fragment roll-in"><em>template</em></li>
                <li class="fragment roll-in"><em>controller</em></li>
                <li class="fragment roll-in"><em>filter</em></li>
                <li class="fragment roll-in"><em>service</em></li>
                <li class="fragment roll-in"><em>directive</em></li>
            </ul>
        </section>

        <section>
            <h2>$watch и $apply</h2>
        </section>

        <section>
            <h2>Module</h2>
            <ul>
                <li>част от AngularJS
                <ul>
                    <li>ngRoute</li>
                </ul>
                </li>
                <li>AngularJS приложение</li>
            </ul>
            <pre><code data-trim contenteditable class="javascript">
// declare a module
var app = angular.module('project', []);
            </code></pre>
        </section>

        <section>
            <h2>Template</h2>
            <pre><code data-trim contenteditable class="html">
&lt;html ng-app&gt;
&lt;head&gt;
    &lt;script src="js/angular.min.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div&gt;
    &lt;label&gt;Name:&lt;/label&gt;
    &lt;input type="text" ng-model="yourName" placeholder="Enter a name here"&gt;
    &lt;hr&gt;
    &lt;h1&gt;Hello {{yourName}}!&lt;/h1&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
            </code></pre>
        </section>

        <section>
            <h2>Controller</h2>
            <pre><code data-trim contenteditable class="javascript">
function TodoCtrl($scope) {
    $scope.todos = [ {text:'learn angular', done:true},
                     {text:'build an angular app', done:false}];

    $scope.addTodo = function() {
        $scope.todos.push({text:$scope.todoText, done:false});
        $scope.todoText = '';
    };

    $scope.remaining = function() {
        var count = 0;
        angular.forEach($scope.todos, function(todo) {
            count += todo.done ? 0 : 1;
        });
        return count;
    };
}
            </code></pre>
        </section>

        <section>
            <h2>Да ги комбинираме?</h2>
            <pre class="fragment roll-in"><code data-trim contenteditable class="html">
&lt;html ng-app&gt;
&lt;head&gt;
&lt;script src="js/angular.min.js"&gt;&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div ng-controller="TodoCtrl"&gt;
        &lt;span&gt;{{remaining()}} of {{todos.length}} remaining&lt;/span&gt;
        &lt;ul class="unstyled"&gt;
            &lt;li ng-repeat="todo in todos"&gt;
                &lt;input type="checkbox" ng-model="todo.done"&gt;
                &lt;span&gt;{{todo.text}}&lt;/span&gt;
            &lt;/li&gt;
        &lt;/ul&gt;
        &lt;form ng-submit="addTodo()"&gt;
            &lt;input type="text" ng-model="todoText" size="30" placeholder="add new todo here"&gt;
            &lt;input class="btn-primary" type="submit" value="add"&gt;
        &lt;/form&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
            </code></pre>
        </section>

        <section>
            <h2>Filter</h2>
            <pre><code data-trim contenteditable class="javascript">
var app = angular.module('project', []);

app.filter('greet', function() {
    return function(name) {
        return 'Hello, ' + name + '!';
    };
});
            </code></pre>
            <pre><code data-trim contenteditable class="html">
&lt;div&gt;
    {{ 'World' | greet }}
&lt;/div&gt;
            </code></pre>
        </section>

        <section>
            <h2>Service</h2>
            <pre><code data-trim contenteditable class="javascript">
var app = angular.module('project', []);
app.factory('Storage', function() {
    this.data = {};
    var $this = this;

    return {
        get: function(key) {
            return $this.data[key];
        },
        set: function(key, value) {
            $this.data[key] = value;
        }
    };
});
            </code></pre>
            <pre><code data-trim contenteditable class="javascript">
function MyCtrl($scope, Storage) {
    Storage.set("some-data", {"test":1, "new":"name"});

    $scope.myData = Storage.get("some-data");
};
            </code></pre>
        </section>

        <section>
            <h2>ngRoute</h2>
            <pre><code data-trim contenteditable class="javascript">
var app = angular.module('project', ['ngRoute']);
app.config(function($routeProvider) {
    $routeProvider
        .when('/', { controller:'ListCtrl', templateUrl:'list.html' })
        .when('/edit/:projectId', { controller:'EditCtrl', templateUrl:'detail.html' })
        .when('/new', { controller:'CreateCtrl', templateUrl:'detail.html' })
        .otherwise({ redirectTo:'/' });
});
            </code></pre>
        </section>

        <section>
            <h2>$http</h2>
            <pre><code data-trim contenteditable class="javascript">
$http.({method: 'GET', url: '/someUrl'}).
    .success(function(data, status, headers, config) {
        // success handler
    })
    .error(function(data, status, headers, config) {
        // error handler
    });
            </code></pre>
            <pre><code data-trim contenteditable class="javascript">
$http.({method: 'POST', url: '/someUrl', data: {some: "data"}}).
    .success(function(data, status, headers, config) {
        // success handler
    })
    .error(function(data, status, headers, config) {
        // error handler
    });
            </code></pre>
        </section>

        <section>
            <h2>Полезни връзки</h2>
            <ul>
                <li><a href="http://angularjs.org/">http://angularjs.org/</a></li>
                <li><a href="http://docs.angularjs.org/tutorial">http://docs.angularjs.org/tutorial</a></li>
                <li><a href="https://www.youtube.com/user/angularjs">https://www.youtube.com/user/angularjs</a></li>
                <li><a href="https://github.com/jmcunningham/AngularJS-Learning">https://github.com/jmcunningham/AngularJS-Learning</a></li>
                <li>* <a href="https://bitbucket.org/vgorni/angularjs-presentation">https://bitbucket.org/vgorni/angularjs-presentation</a></li>
            </ul>
        </section>
    </div>
</div>

<script>

    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

//        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
            { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
            { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
            { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
            { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
            { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
    });

</script>

<div style="display: block; position: absolute; bottom: 14px; left: 14px; z-index: 20;">
    <img src="img/l.png" title="ChaosGroup" />
</div>

</body>
</html>
