<html ng-app="project">
<head>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/controllers.js"></script>
</head>
<body>

<div>
    {{ 'World' | greet }}
</div>

<div ng-view>
    <span>{{remaining()}} of {{todos.length}} remaining</span>
    <ul class="unstyled">
        <li ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.done">
            <span>{{todo.text}}</span>
        </li>
    </ul>
    <form ng-submit="addTodo()">
        <input type="text" ng-model="todoText" size="30" placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
    </form>
</div>

</body>
</html>